body {
  margin: 0;
}

img {
    width 100%;
}

p {
    text-align: justify;
    margin: 15px;
}

.center{
    text-align: center;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight:300

}
/*  does this even do anything now? */
.nav {
  /* align-items: center; */
  padding-inline: 20px;
  
  

}
/*  doesn't look like I need this
.backgroundFoto {

  display: flex;
  background-position: center;
  background-size: 90;
  height: 100%;
  width: 100%;
}  */

.ontopofphoto {
  background-image: url("./images/main-splash-image.jpg");
  background-size: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
  gap: 5rem;
}
.card {
  object-fit: contain;
}

.sailboats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  text-align: center;
  gap: 1rem;
}
article {
  display: flex;
  flex-direction: column;
}

.footer-center {
  margin: auto;
  text-align: center;
}

location {
  display: flex;
  flex-direction: column;
}
