.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  align-items: center;
}

.backgroundFoto {
  display: flex;
  background-position: center;
  background-size: 90;
  height: 100%;
  width: 100%;
}

.ontopofphoto {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: black;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap 1rem;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5rem;
    gap 10rem;
}
.card {

   object-fit: contain;

}
        

.sailboats {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    text-align: center;
    gap:1rem;
}
article {
    display:flex;
    flex-direction: column;
}

.footer-center {
    margin: auto;
    text-align: center;
}    

location {
    display:flex;
    flex-direction: column;
}