.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  align-items: center;
}

.backgroundFoto {
  display: flex;
  background-position: center;
  background-size: 90;
  height: 100%;
  width: 100%;
}

.ontopofphoto {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: black;
}
